.thread{
    background-color: rgb(57, 37, 128);
    display: flex;
    flex: .65;
    flex-direction: column;
    height: 100vh;
    
}

.thread_header{
    display: flex;
    border-bottom: 1px solid rgba(190,190,190,0.1);
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.thread_header_contents{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    color: white;
    padding: 10px;   
}

.thread_header_contents_info > h5{
    font-weight: 500;
    color: gray;
}

.thread_header_details{
    color: white;
}

.thread_header_details:hover{
    color: rgba(1,150,199);
}

.thread_messages{
    flex: 1;
    overflow: auto;
}

.thread_header::-webkit-scrollbar {
    display: none;
}

.thread_input {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    border-top: 1px solid rgb(190,190,190,0.1)
}

.thread_input > form {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.thread_input > form > input {
    width: 98%;
    outline-width: 0 !important;
    outline: none;
    border: none;
    border-radius: 0 !important;
    background-color: transparent;
    padding: 5px;
    color: white;
}

.thread_input > form > button {
    color: white;
}

.thread_input > form > button:hover {
    color: rgb(2,150,199)
}